<div class="container mx-auto flex flex-col items-center justify-center">
  <div class="text-center">
    <h1 class="text-5xl font-bold text-gray-800">Prawn</h1>
    <p class="mt-4 text-lg text-gray-600">Testing Now!</p>
  </div>
  <%= link_to "New Post", posts_path, class: "bg-blue-600 text-white p-2 rounded-lg" %>
</div>
  