<div id="<%= dom_id post %>">
  <p class="my-5 flex">
    <strong class="block font-bold mb-1">Title:</strong>
    <%= post.title %>
  </p>

  <p class="my-5 flex">
    <strong class="block font-bold mb-1">Description:</strong>
    <%= post.description %>
  </p>
</div>
